Charge/.vs/
Charge/.vsconfig
Charge/Assembly-CSharp.csproj
Charge/Charge.sln
Charge/Assets/Ect/
Charge/Library/
Charge/Logs/
Charge/obj/
Charge/Packages/
Charge/ProjectSettings/
Charge/UserSettings/
Charge/Temp/
Charge/Assets/Material/
Charge/Assets/Materials/
Charge/Assets/Materials.meta
